.mcon{
    width: 960px;
}
.opt{
    background-color: white;
    border-color: white;
    font-size: 16px;
    text-align: center;
}

.opt i {
    color: gray; 
}

.post{
    max-width: 100%;
    max-height: 600px;
}

.fix{
    max-width: 300px;
}

body{
    height: 100%;
}